<%= form_with(model: reminder) do |form| %>
  <div class="mb-3">
    <%= form.label "Nom du rappel", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
    <% if reminder.errors[:name].present? %>
      <p class="error_msg"><%= reminder.errors[:name][0]%></p>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :date, class: "form-label" %>
    <%= form.datetime_field :date, class: "form-control" %>
    <% if reminder.errors[:date].present? %>
      <p class="error_msg"><%= reminder.errors[:date][0]%></p>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label "Type de rappel", style: "display: block", class: "form-label" %>
    <div class="form-check form-check-inline">
      <%= form.label :reminder_type, "Sms", class: "form-check-label" %>
      <%= form.radio_button :reminder_type, "sms", class: "form-check-input" %>
    </div>

    <div class="form-check form-check-inline">
      <%= form.label :reminder_type, "Email", class: "form-check-label" %>
      <%= form.radio_button :reminder_type, "email", class: "form-check-input" %>
    </div>

    <% if reminder.errors[:reminder_type].present? %>
      <p class="error_msg"><%= reminder.errors[:reminder_type][0]%></p>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label "Récurrence", style: "display: block", class: "form-label" %>
    <%= form.number_field :repetition_recurrence, class: "form-control", style: "width: 30%; display: inline-block;" %>
    <%= form.select :repetition_unit, ["Jours", "Semaines", "Mois"], {}, { class: 'form-select', style: "width: 60%; display: inline-block;" } %>
    <% if reminder.errors[:repetition_recurrence].present? %>
      <p class="error_msg"><%= reminder.errors[:repetition_recurrence][0]%></p>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.submit "Ajouter le rappel", class: "btn btn-primary"%>
  </div>
<% end %>
