<%= form_with(model: reminder) do |form| %>
  <% if reminder.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
        <% reminder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :date, class: "form-label" %>
    <%= form.datetime_field :date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :reminder_type, style: "display: block", class: "form-label" %>
    <div class="form-check form-check-inline">
      <%= form.label :reminder_type, "Sms", class: "form-check-label" %>
      <%= form.radio_button :reminder_type, "sms", class: "form-check-input" %>
    </div>

    <div class="form-check form-check-inline">
      <%= form.label :reminder_type, "Email", class: "form-check-label" %>
      <%= form.radio_button :reminder_type, "email", class: "form-check-input" %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :repetition_recurrence, style: "display: block", class: "form-label" %>
    <%= form.number_field :repetition_recurrence, class: "form-control", style: "width: 30%; display: inline-block;" %>
    <%= form.select :repetition_unit, ["Jours", "Semaines", "Mois"], {}, { class: 'form-select', style: "width: 60%; display: inline-block;" } %>
  </div>

  <div class="mb-3">
    <%= form.submit "Add the reminder", class: "btn btn-primary"%>
  </div>
<% end %>
