<div id="<%= dom_id reminder %>">
  <p>
    <strong>Name:</strong>
    <%= reminder.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= reminder.date %>
  </p>

  <p>
    <strong>Reminder type:</strong>
    <%= reminder.reminder_type %>
  </p>

  <p>
    <strong>Repetition recurrence:</strong>
    <%= reminder.repetition_recurrence %>
  </p>

  <p>
    <strong>Repetition unit:</strong>
    <%= reminder.repetition_unit %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reminder.user_id %>
  </p>

</div>
