<h1>Mes rappels</h1>

<div class="segment">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tâche</th>
        <th scope="col">Temps restant</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @reminders.each do |reminder| %>
        <tr>
          <td><%= link_to reminder.name, reminder %></td>
          <td><%= reminder.date %></td>
          <td><%= link_to "Modifier", edit_reminder_path(reminder), class: "btn btn-sm btn-secondary" %></td>
          <td><%= button_to "Supprimer", reminder, method: :delete, class: "btn btn-sm btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Nouveau rappel", new_reminder_path, class: "btn btn-primary", style: "margin-top: 2rem;" %>
</div>
