<% color = ((controller_name == "public" && action_name == "home") ? "light" : "muted") %>

<footer class="py-5">
    <ul class="nav justify-content-center pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-<%= color %>">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-<%= color %>">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-<%= color %>">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-<%= color %>">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-<%= color %>">About</a></li>
    </ul>
    <p class="text-center text-<%= color %>">© Doctofish, made with 💚 by Erika Mayoute, 2022</p>
</footer>
