<header class="p-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><%= link_to "Doctofish", root_path, class: "nav-link px-2 link-secondary" %></li>
          <li><%= link_to "À propos", "#", class: "nav-link px-2 link-dark" %></li>
          <li><%= link_to "Fishothèque", cardfishes_path, class: "nav-link px-2 link-dark" %></li>
        </ul>


        <% if current_user %>
          <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" spellcheck="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
              <li><%= link_to "Mes rappels", "#", class: "dropdown-item" %></li>
              <li><%= link_to "Mon profil", "#", class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= button_to( "Se déconnecter", destroy_user_session_path, class: "dropdown-item", method: :delete ) %></li>
            </ul>
          </div>
        <% else %>
          <ul class="nav">
            <li><%= link_to "Se connecter", new_user_session_path, class: "nav-link px-2 link-dark" %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </header>
