<div id="<%= dom_id star_product %>">
  <p>
    <strong>Name:</strong>
    <%= star_product.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= star_product.url %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= star_product.image %>
  </p>

  <p>
    <strong>Is on home page:</strong>
    <%= star_product.is_on_home_page %>
  </p>

</div>
