<p style="color: green"><%= notice %></p>

<%= render @star_product %>

<div>
  <%= link_to "Edit this star product", edit_star_product_path(@star_product) %> |
  <%= link_to "Back to star products", star_products_path %>

  <%= button_to "Destroy this star product", @star_product, method: :delete %>
</div>
