<%= console %>

<%= form_with(model: product) do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
    <% if product.errors[:name].present? %>
      <p class="error_msg"><%= product.errors[:name][0]%></p>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
    <% if product.errors[:description].present? %>
      <p class="error_msg"><%= product.errors[:description][0]%></p>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :affiliation_link, class: "form-label" %>
    <%= form.text_field :affiliation_link, class: "form-control" %>
    <% if product.errors[:affiliation_link].present? %>
      <p class="error_msg"><%= product.errors[:affiliation_link][0]%></p>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label "Associated diseases :", class: "form-label" %>
    <%= form.collection_check_boxes :disease_ids, Disease.order(:name), :id, :name do |d| %>
      <div class="form-check">
        <%= d.label class: "form-label" %>
        <%= d.check_box class: "form-check-input" %>
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.submit "Add the product", class: "btn btn-primary" %>
  </div>
<% end %>