<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Affiliation link:</strong>
    <%= product.affiliation_link %>
  </p>

  <p>
    <strong>Associated diseases:</strong>
    <% product.diseases.each do |disease| %>
      <ul>
        <li>
          <p><%= disease.name %></p>
        </li>
      </ul>
    <% end %>
  </p>

</div>
